//reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: $fontFamily;
  font-weight: bold;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}